<% const d = new Date() 
   let year = d.getFullYear() %>
   <footer>
        <p class="copyright">&copy; <%= year %>, Alejandro Esteves </p>
        <a href="/inv/errors/error">Error Link</a>
    </footer>