<div class="hero">
    <div class="hero-title">
        <h1>Welcome to CSE Motors!</h1>
    </div>
    <div class="hero-picture">
        <img src="/images/vehicles/delorean.jpg" alt="The Delorean Vehicle">
        <div class="hero-picture-callToAction">
            <h2 class="hero-picture-callToAction-title">DMC Delorean</h2>
            <ul class="hero-picture-callToAction-list">
                <li class="hero-picture-callToAction-list-item">3 Cup holders</li>
                <li class="hero-picture-callToAction-list-item">Superman doors</li>
                <li class="hero-picture-callToAction-list-item" >Fuzzy dice!</li>
            </ul>
            <button class="hero-picture-callToAction-button">
                Own Today
            </button>
        </div>
    </div>
</div>
<section class="upgrades">
    <h3>Delorean Upgrades</h3>
    <div class="upgrades-options">
        <a href="#">
            <div class="upgrades-option">
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitator">
            </div>
            Flux Capacitator
        </a>
        <a href="#">
            <div class="upgrades-option">
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
            </div>
            Flame Decals
        </a>
        <a href="#">
            <div class="upgrades-option">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
            </div>
            Bumper Stickers
        </a>
        <a href="#">
            <div class="upgrades-option">
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
            </div>
            Hub Caps
        </a>
    </div>
</section>
<section class="reviews">
    <h3>DMC Delorean Reviews</h3>

    <ul class="reviews-list">
        <li class="reviews-list-item"><q>So Fast it's almost like traveling in time.</q> (4/5)</li>
        <li class="reviews-list-item"><q>Coolest ride on the road.</q> (4/5)</li>
        <li class="reviews-list-item"><q>I'm feeling McFly!</q> (5/5)</li>
        <li class="reviews-list-item"><q>The most futuristic ride of our day</q> (4.5/5)</li>
        <li class="reviews-list-item"><q>80's livin and I love it!</q> (5/5)</li>
    </ul>
</section>