/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

*{
  --text-font-title: 1.3rem;
  --text-font-largest: 32px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
  margin: 0;
  padding: 0;
}

/* Main */
.main-wrap{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

/* HEADER */
#top-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem .5rem 2rem;
  
  
}

#top-header a, #top-header a:visited{
  text-decoration: none;
    color: #000;
}

.siteName{
  font-size: var(--text-font-largest);
  font-weight: bold;
}

#tools{
  align-self: start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* BODY */
/* Nav */
.navigation{
  background-color: rgb(36,35,50);
}

.navigation-list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 4rem;
}

.navigation-list-link{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  list-style: none;
}

.navigation-list-link:hover{
  background-color: rgb(84, 84, 84);
}

.navigation-list-link a{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
   
    color: white;
    text-decoration: none;
}

/* hero */
.hero{
  display: flex;
  flex-direction: column;
  order: 1;
}

.hero-title h1{
  font-size: var(--text-font-title);
}

.hero-picture{
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 5rem;
  
}

.hero-picture img{
    width: 100vw;
    max-height: 40rem;
    max-width: 60rem;
}

.hero-picture-callToAction{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  color: #1B6F76;
  background-color: rgba(255, 255, 255, 0.855);
}


.hero-picture-callToAction-title{
  margin: 0;
}

.hero-picture-callToAction-list{
  list-style: none;
  margin: 5px 0;
  padding: 0;
}

.hero-picture-callToAction-button{
  background-color: rgb(79, 173, 207);
  color: #000;
  font-weight: bold;
  padding: .7rem;
  box-shadow: 0 0 5px black;
  cursor: pointer;
  border: none;
  width: 70%;
}

/* reviews */
.reviews{
  order: 2;
  display: flex;
  flex-direction: column;
}

.reviews h3{
  margin: 0;
  font-size: var(--text-font-title);
}

.reviews-list{
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* upgrades */
.upgrades{
  order: 3;
  display: flex;
  flex-direction: column;
}

.upgrades h3{
  font-size: var(--text-font-title);
}

.upgrades-options{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
  
}

.upgrades-options a{
  height: 100%;
  text-align: center;
  padding-bottom: 2rem;
}

.upgrades-option{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(79, 173, 207);
  border: 2px solid black;
  width: 100%;
  height: 6rem;

}

/* Notice and errors */
.notice li{
  list-style: none;
  color: #8A0000;
  font-weight: bold;
}

/* Inventory */
.classification-title{
  margin-left: .5rem;
}

#inv-display{
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  gap: 1rem;
  /* This width could alter the image ratios */
  width: 15rem;
}

.inv-item{
  border: 1px solid black;
  border-radius: .8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.inv-item a{
  width: 100%;
  height: 100%;
}

.inv-item a img{
  width: 100%;
  height: 100%;
  
}

.namePrice{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.namePrice hr{
  border: none;
  height: 4px;
  width: 100%;
  background-color: #000;
}

.namePrice h2, .namePrice span{
  text-align: center;
}

.namePrice span{
  font-size: 20px;
}

/* Details */

.details-picture{
  width: 100%;
}

.details-subtitle{
  margin-left: .5rem;
  font-size: 1.4rem;
}

.details{
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.details p{
  margin: 0;
  padding: 1rem .5rem;
}

.details p:nth-child(odd){
  background-color: #98989873;
}

.car-price, .highlight{
  font-weight: bold;
}

.highlight{
  font-size: 19px;
}

/* Login */
.login-container{
  background-color: rgb(73, 161, 208);
  padding: 1rem;
  border-radius: .3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 25rem;
  min-width: 20rem;
}

.login-form{
  border: 1px solid #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.login-form input{
  height: 2rem;
  border-radius: .3rem;
  border: none;
}

.login-form label{
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.login-button{
border: none;
background-color: #fff;
border-radius: .8rem;
width: fit-content;
margin: 0 auto;
padding: .3rem 1.5rem;
transition: all .2s ease-in;
cursor: pointer;
}

.login-button:hover{
  background-color: #000;
  color: #fff;
}

.create-account{
  margin: 1rem 0;
}

.create-account span a:visited, .create-account span a{
  color: #000;
  font-weight: bold;
}

/* Register */

.register-form{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  max-width: 25rem;
  margin: 0 auto;
}

.updateAccount-wrap .register-form:last-of-type{
  /* The second form in the edit account view */
  gap: 0;
}

.register-form label{
  display: flex;
  flex-direction: column;
}

.register-form input,
#classification_name,
.new-vehicle-form input
{
  height: 2rem;
  border: 2px solid #000;
  padding-left: 1rem;
  border-left: 6px solid #ccc;
  outline: none;
  transition: border-left-color 0.3s;

}

.show-pswd{
  text-align: center;
  margin: 1rem 0;
  border: 1px solid #fff;
  border-radius: 1rem;
  width: fit-content;
  background-color: #000;
  color: #fff;
  padding: .5rem 1rem;
}

.show-pswd:active{
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.register-button{
  border: none;
  border-radius: 2rem;
  background-color: rgb(55, 104, 182);
  color: #fff;
  padding: .5rem 1rem;
  width: fit-content;
  font-size: 1.2rem;
}

.register-button:active{
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}


.register-form input:required:invalid,
 #classification_name:required:invalid,
 .new-vehicle-form input:required:invalid{
  border-left-color: red;
}

.register-form input:required:valid,
#classification_name:required:valid,
.new-vehicle-form input:required:valid{
  border-left-color: green;
}

/* Management */
.management-links{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.new-classification-form,
.new-vehicle-form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
  background-color: #269ca7;
  border-radius: .8rem;
  max-width: 25rem;
  margin: 0 auto;
}

.className-wrapper, .newCar-wrapper{
  border: 1px solid #fff;
  border-radius: .8rem;
  padding: .5rem;
}

.new-classification-form label{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addClass-button{
  margin: 1rem 0;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  padding: .5rem 1rem;
}

.addClass-button:active{
  background-color: #000;
  color: #fff;
}


/* New vehicle */
form.new-vehicle-form{
  max-width: 30rem;
}

.new-vehicle-form label{
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  font-size: 1.2rem;
}

.new-vehicle-form input{
  font-size: 1rem;
  width: fit-content;
}

#invDescription{
  height: 6rem;
}

#imgPath, #thbPath{
  width: 90%;
}

/* Manage Inventory */

.manageInv-wrap{
  padding: .5rem;
}

#inventoryDisplay{

  width: 100%;
  max-width: 30rem;
}

#inventoryDisplay a, #inventoryDisplay a:visited{
  text-decoration:none;

}

#inventoryDisplay thead{
border-bottom: 1px solid black;
background-color: #1b6e7671;
}

#inventoryDisplay tbody tr{
  margin: 1rem 0;
}

#inventoryDisplay tbody tr:nth-child(even){
  background-color: #1b6e7671;
}

#inventoryDisplay tbody td:nth-child(2){
  margin-right: .5rem;
}

/* View for larger Screens */
@media (min-width: 1024px) {
  body{
    background-image: url('/images/site/small_check.jpg');
    padding: 3rem 10rem;
  }

  .main-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 22.5rem;
    justify-content: center;
    align-items: center;

    column-gap: 2rem;
  }

  #wrapper{
    margin: 0 auto;
    border: 5px solid #269ca7;
    background-color: #fff;
    border-radius: .5rem;
  }


  .hero-picture-callToAction{
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.855);
    width: 12rem;
    height: 15rem;
    top: 5rem;
    left: 15%;
  }

  .hero{
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .reviews{
    height: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .reviews h3{
    margin: 0 0 2rem 0;
  }

  .reviews-list{
    gap: 2.5rem;
    padding-top: 0;
    padding-bottom: 0;

  }

  .upgrades{
    height: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .upgrades h3{
    margin: 0 0 2rem 0;
  }
  
  /* Inventory */

  #inv-display{
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
  }
  
  .inv-item{
    flex: 0 1 15rem;
    margin: 0 3rem ;
  }

  /* Details */
  .details-wrap{
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 1rem;
  align-items: center;
}

.details{
  padding: 0;
}

.details-picture{
  width: 90%;
  grid-column: 1/2;
  grid-row: 1/3;
}

.details-subtitle{
  grid-column: 2/3;
  font-size: 1.4rem;
}


}